# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/

# Mac Store files
*.DS_Store

# tex files
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.run.xml
*.synctex.gz

# public folders
wbt/**/public

# hugo lock files
*.hugo_build.lock

# ignore wbt-bookdown
wbt-bookdown/**

**/.DS_Store
.DS_Store
/wbt/lb1/public/
/wbt/lb2/public/
/wbt/lb3/public/
/wbt/lb4/public/
/wbt/lb5/public/
/wbt/main/public/

/wbt/lb1/content/**/*.html
/wbt/lb2/content/**/*.html
/wbt/lb3/content/**/*.html
/wbt/lb4/content/**/*.html
/wbt/lb5/content/**/*.html
/wbt/main/content/**/*.html

